accelerate @ file:///home/conda/feedstock_root/build_artifacts/accelerate_1734379448962/work
affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1733762038348/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1733331917983/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1734596888970/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
ansi2html @ file:///croot/ansi2html_1705049836845/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1736174388474/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1734348785146/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1733230845337/work
blinker @ file:///croot/blinker_1737448726027/work
blis @ file:///home/conda/feedstock_root/build_artifacts/cython-blis_1729663812984/work
bokeh==3.6.3
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1734433375112/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
catalogue @ file:///home/conda/feedstock_root/build_artifacts/catalogue_1736092400301/work
certifi @ file:///croot/certifi_1738623731865/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560520483/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
click-plugins @ file:///home/conda/feedstock_root/build_artifacts/click-plugins_1733731077999/work
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1733749956636/work
cloudpathlib @ file:///home/conda/feedstock_root/build_artifacts/cloudpathlib-meta_1729359055183/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
confection @ file:///home/conda/feedstock_root/build_artifacts/confection_1701179074719/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1731428322366/work
cryptography @ file:///croot/cryptography_1732129644106/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1732329449078/work
dash @ file:///croot/dash_1701446519353/work
dash-bootstrap-components @ file:///home/conda/feedstock_root/build_artifacts/dash-bootstrap-components_1744385444708/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1652661982895/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1741148395697/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1733249551891/work
distro @ file:///croot/distro_1714488253808/work
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fastjsonschema==2.21.1
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1733240801289/work
fiona @ file:///home/conda/feedstock_root/build_artifacts/fiona_1733507421330/work
Flask @ file:///croot/flask_1716545870149/work
Flask-Compress @ file:///croot/flask-compress_1668714942319/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1736247869287/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1735335805155/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1729699454066/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1725543257300/work
fuzzywuzzy @ file:///opt/conda/conda-bld/fuzzywuzzy_1650548198331/work
GDAL @ file:///home/conda/feedstock_root/build_artifacts/libgdal-core_1737608373240/work/build/swig/python
geographiclib @ file:///home/conda/feedstock_root/build_artifacts/geographiclib_1734342349249/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1734346029138/work
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1734341931581/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1733462536562/work
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1734532786161/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hatchling @ file:///croot/hatchling_1734531477263/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
httpx-sse==0.4.0
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1736350098712/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1733223117029/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1744034854/work
itsdangerous @ file:///croot/itsdangerous_1716533337253/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
jiter @ file:///croot/jiter_1729808929109/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1725302897999/work
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1725459213453/work
langchain @ file:///home/conda/feedstock_root/build_artifacts/langchain_1735978386064/work
langchain-core @ file:///home/conda/feedstock_root/build_artifacts/langchain-core_1735949415544/work
langchain-mistralai==0.2.4
langchain-text-splitters @ file:///home/conda/feedstock_root/build_artifacts/langchain-text-splitters_1736285587843/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1734376437639/work
langdetect @ file:///home/conda/feedstock_root/build_artifacts/langdetect_1734787653995/work
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1736006199899/work
language_data @ file:///home/conda/feedstock_root/build_artifacts/language-data_1732032415021/work
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1730194216628/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1733731066416/work
marisa-trie @ file:///home/conda/feedstock_root/build_artifacts/marisa-trie_1736178985876/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
matplotlib==3.10.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1733913043842/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1724954605015/work
munkres==1.1.4
murmurhash @ file:///home/conda/feedstock_root/build_artifacts/murmurhash_1728932914994/work
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
nl_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/nl_core_news_sm-3.8.0/nl_core_news_sm-3.8.0-py3-none-any.whl#sha256=a76978477821f213ca76a46c686df1b1d41462905d4868bc53eac086adca8b7e
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225380409/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=51131fd8fc130cd168aecaf1bc0ea85f92e8ffebf211772ceb16ac2e7f10d7ca
openai==1.59.8
openpyxl @ file:///croot/openpyxl_1736366913861/work
orjson @ file:///home/conda/feedstock_root/build_artifacts/orjson_1736496216509/work
outcome @ file:///tmp/build/80754af9/outcome_1609338780791/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1726878398774/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
pathspec @ file:///croot/pathspec_1674681560568/work
patsy @ file:///croot/patsy_1738159930729/work
pdfminer.six @ file:///home/conda/feedstock_root/build_artifacts/pdfminer.six_1703854269349/work
pdfplumber @ file:///home/conda/feedstock_root/build_artifacts/pdfplumber_1735886669036/work
peft @ file:///home/conda/feedstock_root/build_artifacts/peft_1733652333873/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1735929693232/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1742485085/work
plotly @ file:///croot/plotly_1740385556434/work
pluggy @ file:///croot/pluggy_1733169602837/work
preshed @ file:///home/conda/feedstock_root/build_artifacts/preshed_1728945655166/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1733391818824/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1735327341346/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==18.1.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1736458246045/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1734571487232/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pyogrio @ file:///home/conda/feedstock_root/build_artifacts/pyogrio_1732013380254/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
pypdfium2 @ file:///home/conda/feedstock_root/build_artifacts/pypdfium2_1725512307230/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1727795308773/work
PySide6==6.8.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv==1.0.1
python-Levenshtein @ file:///home/builder/ci_310/python-levenshtein_1640793839779/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1725456145900/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1743831255788/work
RapidFuzz @ file:///home/conda/feedstock_root/build_artifacts/rapidfuzz_1734508633314/work
rasterio @ file:///home/conda/feedstock_root/build_artifacts/rasterio_1733163426495/work
referencing==0.36.0
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1730952192772/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1733734787568/work
responses @ file:///home/conda/feedstock_root/build_artifacts/responses_1643839609465/work
retrying @ file:///Users/ktietz/demo/mc3/conda-bld/retrying_1629465456590/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rpds-py==0.22.3
sacremoses==0.1.1
safetensors @ file:///home/conda/feedstock_root/build_artifacts/safetensors_1736382933512/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1736496756180/work/dist/scikit_learn-1.6.1-cp310-cp310-linux_x86_64.whl#sha256=8b3481924bda36bf9a85c5f500f48e43e1178ead014b2d2ecf10f7b9b49935b4
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1736617203912/work/dist/scipy-1.15.1-cp310-cp310-linux_x86_64.whl#sha256=48989a232eba54f78fa3de21c833f42c67440168001b1b803655d9a0317e64cf
seaborn @ file:///croot/seaborn_1718302919398/work
selenium @ file:///croot/selenium_1727169276076/work
sentencepiece @ file:///home/conda/feedstock_root/build_artifacts/sentencepiece-split_1735627488088/work/python
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1727273399315/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
shiboken6==6.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smart_open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1734485076778/work/dist
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
snuggs @ file:///home/conda/feedstock_root/build_artifacts/snuggs_1733818638588/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
spacy @ file:///home/conda/feedstock_root/build_artifacts/spacy_1732449837498/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1694527114282/work
SQLAlchemy @ file:///croot/sqlalchemy_1736565039440/work
srsly @ file:///home/conda/feedstock_root/build_artifacts/srsly_1695653949688/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels @ file:///croot/statsmodels_1734018870787/work
sympy==1.13.1
tabulate @ file:///croot/tabulate_1701354810597/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1733649050774/work
thinc @ file:///home/conda/feedstock_root/build_artifacts/thinc_1733202751614/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tokenizers @ file:///home/conda/feedstock_root/build_artifacts/tokenizers_1732733967424/work/bindings/python
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
torch==2.5.1+cpu
torchaudio==2.5.1+cpu
torchvision==0.20.1+cpu
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1732615898999/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1736533976429/work
trio @ file:///croot/trio_1729106625938/work
trio-websocket @ file:///croot/trio-websocket_1726669432198/work
trove-classifiers @ file:///croot/trove-classifiers_1729277230900/work
typer==0.15.1
typer-slim==0.15.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1733235305708/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1736692496989/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
Wand @ file:///home/conda/feedstock_root/build_artifacts/wand_1661205278277/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1715409644734/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
weasel @ file:///home/conda/feedstock_root/build_artifacts/weasel_1734270156651/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
Werkzeug @ file:///croot/werkzeug_1731005776056/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1736869474897/work
wsproto @ file:///croot/wsproto_1725051532745/work
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1725272066924/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1733143442470/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1733428766700/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
